@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&family=Roboto+Mono:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

header {
    background-color: #f4feff;
    color: #67645e;
    padding: 16px;
}

nav {
    border-radius: 10px;
    background-color: #e9e9e9;
    padding-left: 16px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    height: 40px;

}

ul {
    display: flex;
    justify-content: flex-center;
    gap: 750px;
    width: 100%;
    align-items: center ;
}

li {
    padding: 0 20px 0 20px;
}

li:hover {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

article {
    background-color: #5d94e6;
    padding: 8px;
    width: 75%;
}

section {
    background-color: #e9ad68;
    color: #67645e;
    margin: 8px;
    height: 230px;
    width: 45%;
    text-overflow: ellipsis;
}

.content-row {
    display: flex;
}

aside {
    background-color: #fae9f8;
    color: #7e8081;
    padding: 8px;
    width: 25%;
}

figure {
    background-color: #6fd66c;
    margin: 8px;
    height: 40%;
}

details {
    display: flex;
    font-family: "Namdhinggo", serif;
    background-image: url("images/MILK.jpg");
    color: #f3faf5;
    margin: 8px;
    height: 55%;
}

footer {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    background-color: #e2dfdf;
    margin-top: 16px;
    padding: 9px;
}

#hailey {
    object-fit: cover;
    /* object-position: 0 20%; imagem cortada para cima  */
    width: 454px;
    height: 308px;
}

#peptide {
    object-position: -65px -38px;
    width: 300px;
    height: 280px;
}