/* cores: #6d9773 #0c3b2e #bb8a52 #ff8a00 */
/* code: https://codepen.io/johnbarnitz/pen/gOPbVer */
/* code: https://codepen.io/shantedenise/pen/GYyxWV */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --white: #ffffff;
  --light-grey: #edf0f1;
  --green: #6d9773;
  --medium-green: #56725b;
  --dark-green: #0c3b2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", sans-serif;
  background: #f6efe6;
  color: var(--white);
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

main {
  /* overflow-x: hidden; */
  position: relative;
  margin-bottom: 100px;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

h1 {
  color: #6d9773;
  color: #0c3b2e;
  color: #bb8a52;
  color: #ffba00;
}

h2 {
  background-color: #8ab692;
  color: #0c3b2e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
}

article {
  /* background-color: #5d94e6; */
  font-size: 40px;
}

section {
  color: #0c3b2e;
  width: 54%;
}

.greenaside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 400px;
  /* background: linear-gradient(to bottom, #043d2d, #0c3b2e); */
  background: rgb(109, 151, 115);
  background: radial-gradient(circle, rgba(109, 151, 115, 1) 0%, rgba(12, 59, 46, 1) 100%);
  border-radius: 50%;
  margin-top: 100px;
}

.greenfigure {
  display: flex;
  justify-content: center;
}

.containersobre {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-left: 100px;
  padding-right: 100px;
  height: 80vh;
}

.containerprojetos {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-left: 100px;
  padding-right: 100px;
  height: 80vh;
}

.instagram {
  color:rgba(12, 59, 46, 1);
  position: relative;
  bottom: 3vh;
  left: 860px;
}

ul {
  list-style: none;
}

.section_sobre {
  margin-top: 100px;
}

.section_projetos{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 25px;
}

.texto{
  margin-top: 40px;
  text-align: center;
  max-width: 70%;
}

.section_projetos .projeto_img {
  border-radius: 20px;
}

.texto_projetos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_projetos .texto_projetos {
  margin-top: 70px;
}

#zago {
  border-radius: 50%;
}

#flamingle {
  max-width: 520px;
  max-height: 360px;
}
/* MENU
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-menu {
  position: fixed;
  max-width: 400px;
  padding-bottom: 20px;
  border-radius: 5px 5px 25px 25px;
}

.nav-menu [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.nav-menu [type="checkbox"]+label {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  background: var(--green);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.nav-menu [type="checkbox"]+label:hover {
  background: var(--medium-green);
  /* muda quando passa o mouse */
}

nav {
  position: fixed;
  bottom: 0;
}

.menu li {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.menu li:nth-child(1) {
  transition-delay: 0.2s;
}

.menu li:nth-child(2) {
  transition-delay: 0.15s;
}

.menu li:nth-child(3) {
  transition-delay: 0.1s;
}

.menu li:nth-child(4) {
  transition-delay: 0.05s;
}

.menu li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green);
}

.menu li a span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 5px));
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--dark-green);
  font-weight: bold;
}

.nav-menu input:checked+label {
  background: var(--dark-green);
  transform: translateY(calc(-50% + 4px));
}

.nav-menu input:checked~.menu li:nth-child(1) {
  top: -210px;
  transition-delay: 0.1s;
}

.nav-menu input:checked~.menu li:nth-child(2) {
  top: -160px;
  left: calc(50% - 75px);
  transition-delay: 0.2s;
}

.nav-menu input:checked~.menu li:nth-child(3) {
  top: -160px;
  left: calc(50% + 75px);
  transition-delay: 0.3s;
}

.nav-menu input:checked~.menu li:nth-child(4) {
  top: -110px;
  transition-delay: 0.4s;
}

.nav-menu input:checked~.menu li a span {
  opacity: 1;
  transition-delay: 0.9s;
}


/* CONTATO 
=========================================================== */

#title-Tag-Line {
  font-size: 20px;
}

.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #0e3721;
  animation: bounce 1.5s infinite;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: #0e3721;
}
.name:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
  color: #0e3721;
}

.email:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
  color: #0e3721;
}

.message:hover {
  border-bottom: 5px solid #0e3721;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #0e3721;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

.wrapper {
  height: 100vh;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
} 


/* RESPONSIVIDADE
======================================================= */

  /* 768px - 1024px = telas menores, laptops */
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .container {
      height: unset;
    }
    
    body {
      overflow: scroll;
    }

    .instagram {
      position: relative;
      bottom: 4vh;
      left: 570px;
    }

    .section_sobre {
      width: auto;
    }

    h5 {
      color: cadetblue;
    }
  }
  
  /* 1024px - 1200px = desktop menores */
  @media only screen and (max-width: 1024px) {
    h5 {
      color: coral;
    }
  }
  
  /* 1200 e + = telas maiores, tvs */
  @media only screen and (max-width: 1200px) {
    h5 {
      color: darkorchid;
    }
  }